/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* || Custom Fonts */

@font-face {
    font-family: 'Questa_Sans_Regular';
    src: url('../fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff2') format('woff2'),
         url('../fonts/questasans_regular_macroman/2-Questa_Sans_Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Questa_Grande_Regular';
    src: url('../fonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.woff2') format('woff2'),
         url('../fonts/questagrande_regular_macroman/2-questa_grande_regular_31-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || General */

html * {
	/* border: 1px solid red; */
}

:root {
	font-family: 'Questa_Sans_Regular';
	box-sizing: border-box;
}

/* || Layout */

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
}

/* || Sidebar */

.sidebar {
	position: relative;
	background: #fff url("../images/star-sky.jpg") no-repeat right center;
	background-size: cover;
	flex: 1;
}

.logo-container {
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 20%;
	position: absolute;
	top: 25%;
	text-align: center;
}

.logo-container img {
	height: 100%;
}

/* || Form */

.form-container {
	flex: 1.5;
}

form {
	margin-top: 40px;
}

.card {
	background-color: aqua;
	padding: 20px 35% 0 40px;
}

.caption {
	margin-top: 15%;
	font-family: 'Questa_Grande_Regular';
	font-size: 28px;
	padding: 0 25% 0 40px;
}

.caption p:nth-child(2) {
	margin-top: 10px;
}

.input-row {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

.input {
	width: 45%;
}

.input * {
	display: block;
	width: 100%;
}

legend {
	font-size: 24px;
	font-family: 'Questa_Grande_Regular';
	position: absolute;
	top: 0;
}

fieldset {
	padding: 50px 0 15px 0;
	position: relative;
}

/* || Button */

button[type="submit"] {
	font-size: 18px;
	margin-top: 30px;
	margin-left: 40px;
	padding: 10px 20px;
	border-radius: 10px;
}

/* || Footer */

.login {
	margin-left: 40px;
	margin-top: 40px;
}